<div id="blogContent">
    {% for post in site.[page.category] %}
        <div class="blogPost">
            <div class="blogPostTitle">
                <div>
                    <h2>{{ post.title}}</h2>
                </div>
                <div>
                    {{ post.date | date: "%B %d, %Y" }}
                </div>
            </div>
            <div class="blogPostContent">
                <div>
                    {{ post.content }}
                </div>
            </div>
        </div>

        <div class="squiggleBox">
            <img src="assets/images/loops.png" alt="">

        </div>

        
    {% endfor %}

</div>