<div id="contentBox">
    <div class="workText">
        {% for post in site.[page.category] %}
            {{ post.content }}
        {% endfor %}
        <div class="scroll-spacer"></div>
    </div>

    <div class="workImages {{ page.category }}">
        {% for post in site.[page.category] | sort: "order" %}
            <div class="workImage">
                <div class="workImageContent">
                    <div class="individualImage">
                        <img src="{{ post.images }}">
                    </div>
                    <div class="workInfo">
                    <div>
                        <p><em>{{ post.title }}</em>, {{ post.year }}</p>
                    </div>
                    <div>
                        <p>{{ post.medium }}</p>
                    </div>
                    <div>
                        <p>{{ post.dimensions }}</p>
                    </div>
                    </div>
                </div>
                
            </div>
        {% endfor %}
        <!-- <div class="scroll-spacer"></div> -->
    </div>
</div>



 