<div id="header">

    <div id="mainName">
        <a href="/blog">
            <div class="upperNav">
                Blog
            </div>
        </a>
        
        <div>
            <a href="/"><h1>{{ site.title }}</h1></a>
        </div>

        <a href="/about">
            <div class="upperNav">
                About
            </div>
        </a>
    
    </div>

    <div id="navBar">
        <a href="/drawing">
            <div class="navBarItem drawing">
                <nav>Drawing</nav>
            </div>
        </a>
        <a href="/fabric-collage">
            <div class="navBarItem fabric">
                <nav>Fabric + Collage</nav>
            </div>
        </a>
        <a href="/print">
            <div class="navBarItem print">
                <nav>Print</nav>
            </div>
        </a>
        <a href="/beaded-work">
            <div class="navBarItem beaded">
                <nav>Beaded Work</nav>
            </div>
        </a>
        <a href="/early-work">
            <div class="navBarItem early">
                <nav>Early Work</nav>
            </div>
        </a>
        <a href="/blog">
            <div class="navBarItem blog">
                <nav>Blog</nav>
            </div>
        </a>
        <a href="/about">
            <div class="navBarItem about">
                <nav>About</nav>
            </div>
        </a>
    </div>

</div>