---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Elizabeth Kaiser - {{ page.title }}</title>
    <link rel="icon" type="image/x-icon" href="assets/images/favicon.ico">
    <link rel="stylesheet" href="https://use.typekit.net/ulu3qje.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
  </head>
  <body>
    <div id="mainContent">
        {% include header.html %}
        {% include aboutBody.html %} 
    </div>
    
    
  </body>
</html>