---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Elizabeth Kaiser{{ page.title }}</title>
    <link rel="stylesheet" href="https://use.typekit.net/ulu3qje.css">
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    {% include header.html %}
    <!-- <div id="mainContent">
        
    </div> -->
    <script src="/assets/scripts/script.js"></script>
  
  </body>
</html>